build/
.cproject
.pydevproject
.settings
*.DS_Store

apps/src/ApPredict

apps/src/ApPredict\.o

apps/src/TorsadePredict

apps/src/TorsadePredict\.o

*.m~

\.project

apps/src/DoseResponseFitter

apps/src/DoseResponseFitter\.o
